# Examining Differences in Health Outcomes

Information about the National Health and Nutrition Examination Survey can be found here:

https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component=Questionnaire&CycleBeginYear=2015

In this notebook, we have data from the 2016 edition of the NHANES dataset. You can begin exploring differences in health outcomes by first modeling systolic blood pressure in terms of gender. This is a template for other exploration you might be able to do.\

The variable/column for systolic blood pressure is BPXSY1.

In [1]:
library("coursekata")

nhanes.2016 <- read.csv("https://github.com/DTS-Hudson-Harper/M401-Resources/blob/main/SwR%20Chapter%206/nhanes_2015-2016_ch6.csv?raw=true")

── CourseKata packages ──────────────────────────────────── coursekata 0.14.1 ──
✔ dslabs              0.7.6       ✔ Metrics             0.1.4
✔ Lock5withR          1.2.2       ✔ lsr                 0.5.2
✔ fivethirtyeightdata 0.1.0       ✔ mosaic              1.9.0
✔ fivethirtyeight     0.6.2       ✔ supernova           2.5.8

In [2]:
# add labels to sex and rename variables
nhanes.2016.cleaned <- nhanes.2016 %>%
  mutate(RIAGENDR = recode_factor(.x = RIAGENDR,
                                  `1` = 'Male',
                                  `2` = 'Female')) %>%
  rename(sex = RIAGENDR) %>%
  rename(systolic = BPXSY1)

head(nhanes.2016.cleaned)

  SEQN  cycle     SDDSRVYR RIDSTATR sex    RIDAGEYR RIDAGEMN RIDRETH1 RIDRETH3
1 83732 2015-2016 9        2        Male   62       NA       3        3
2 83733 2015-2016 9        2        Male   53       NA       3        3
3 83734 2015-2016 9        2        Male   78       NA       3        3
4 83735 2015-2016 9        2        Female 56       NA       3        3
5 83736 2015-2016 9        2        Female 42       NA       4        4
6 83737 2015-2016 9        2        Female 72       NA       1        1
  RIDEXMON ⋯ BPAEN2 BPXSY3 BPXDI3 BPAEN3 BPXSY4 BPXDI4 BPAEN4 file_name
1 1        ⋯ 2      116    62     2      NA     NA     NA     BPX_I
2 1        ⋯ 2      134    82     2      NA     NA     NA     BPX_I
3 2        ⋯ 2      136    46     2      NA     NA     NA     BPX_I
4 2        ⋯ 2      136    70     2      NA     NA     NA     BPX_I
5 2        ⋯ 2       98    56     2      NA     NA     NA     BPX_I
6 1        ⋯ 2      120    60     2      NA     NA     NA     BPX_I
  begin_year end_year
1 2015       2016
2 2015       2016
3 2015       2016
4 2015       2016
5 2015       2016
6 2015       2016